.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 15px;
  background-color: var(--black);
  color: var(--white);
}

.formContainer {
  margin-top: 20px;
}

.formContainer > input {
  display: block;
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  padding: 5px;
}

.formContainer > label {
  margin-bottom: 10px;
}

.formContainer > textarea {
  display: block;
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  width: 100%;
  text-indent: 5px;
}

input:focus,
textarea:focus {
  border-radius: 0px;
  outline: 0px;
}

.formBtn {
  background-color: transparent;
  color: var(--white);
}

.formBtn:hover {
  background-color: var(--white);
  color: var(--black);
}

h3 {
  font-size: 2.5rem;
}
p {
  font-size: 1.3rem;
}

@media only screen and (max-width: 633px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
}
